/* 
  ! Means experimental feature
  * Above and below line to explain the code within does a certain feature
  ? Specific section
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.header {
  padding: 0 4.8rem;
  height: 10rem;
  /* * below code will make header stick to top */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  /* * above code will make header stick to top */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(30, 30, 30);
}

.header .header-logo {
  height: 7rem;
}

.logo-company-name {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  color: #e8a34d;
  font-family: "Raleway", sans-serif;
}

.navbar-elem {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-links:link,
.navbar-links:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  color: #e8a34d;
  transition: all 0.3s;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.navbar-links:hover,
.navbar-links:active {
  color: #d0cec1ff;
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #d0cec1ff;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

@media (max-width: 61.25em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #e8a34d;
  }

  .header {
    position: relative;
    z-index: 999;
    /*below code will make header stick to top*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*above code will make header stick to top*/
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #1e1e1e;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* left transition */
    transform: translateX(100%);
    transition: all 0.3s linear;

    /* to toggle visibility*/
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-elem {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

@media (max-width: 300px) {
  .header {
    padding: 1rem;
  }

  .logo-company-name {
    padding: 0;
    font-size: 1.6rem;
  }
}
